flows_mAbSim.json
[{"id":"2945df44.f6e69","type":"tab","label":"MabSim","disabled":false,"info":""},{"id":"90a32ac1.2f3ff8","type":"tab","label":"OPCUA Server","disabled":false,"info":"This flow is responsible for initializing the server and\ncreating the items in the address space;"},{"id":"4e34b0de.667d9","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"ef06d65.c1cd028","type":"subflow","name":"Subflow 1 (2)","info":"","in":[],"out":[]},{"id":"d53b888f.6e9938","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#06bbff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#06bbff","edited":true},"page-titlebar-backgroundColor":{"value":"#06bbff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#52d0ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#06bbff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9303e328.7fdd6","type":"ui_tab","z":"","name":"Start","icon":"dashboard","order":1},{"id":"887dbcfd.02731","type":"ui_group","z":"","name":"Initial Conditions","tab":"9303e328.7fdd6","order":1,"disp":true,"width":"6","collapse":true},{"id":"ac42666d.205648","type":"ui_group","z":"","name":"Actions","tab":"9303e328.7fdd6","order":4,"disp":true,"width":"6","collapse":false},{"id":"b8a7760c.442ef8","type":"ui_tab","z":"","name":"Controller","icon":"dashboard","order":2},{"id":"cac2bd82.293ff","type":"ui_group","z":"","name":"Inputs","tab":"b8a7760c.442ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5293552.15d318","type":"ui_group","z":"","name":"Unstructured Parameters","tab":"9303e328.7fdd6","order":2,"disp":true,"width":"6","collapse":false},{"id":"c1597b1d.79bd78","type":"ui_tab","z":"","name":"System","icon":"dashboard","order":3},{"id":"317bc529.ccea1a","type":"ui_group","z":"","name":"Physical Sensors","tab":"c1597b1d.79bd78","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bc03d72.8e1d22","type":"ui_group","z":"","name":"Cell Analysis","tab":"c1597b1d.79bd78","order":3,"disp":true,"width":"6","collapse":false},{"id":"87fcf123.978cc","type":"ui_group","z":"","name":"Chemical Sensors","tab":"c1597b1d.79bd78","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a952781.d90498","type":"ui_group","z":"","name":"Product Analysis","tab":"4eaf1443.d1fc5c","order":5,"disp":true,"width":"6","collapse":false},{"id":"11c18c09.a72634","type":"ui_group","z":"","name":"Intracellular Analysis","tab":"c1597b1d.79bd78","order":4,"disp":true,"width":"6","collapse":false},{"id":"b46a4398.2b77f","type":"ui_group","z":"","name":"Structured Parameters","tab":"9303e328.7fdd6","order":3,"disp":true,"width":"6","collapse":false},{"id":"30c396c7.96791a","type":"ui_group","z":"","name":"Glycosylation Analysis","tab":"4eaf1443.d1fc5c","order":6,"disp":true,"width":"6","collapse":false},{"id":"eab6395e.5d5718","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55888/UA/Mabsim","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Mabsim Server","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"4eaf1443.d1fc5c","type":"ui_tab","z":"","name":"Product","icon":"dashboard","order":4},{"id":"9d59a998.6356a8","type":"ui_tab","z":"","name":"Metabolic Analysis","icon":"dashboard"},{"id":"86716d14.016fa","type":"ui_group","z":"","name":"FBA","tab":"9d59a998.6356a8","order":1,"disp":true,"width":"50","collapse":false},{"id":"d163b6ea.6a2bd8","type":"comment","z":"90a32ac1.2f3ff8","name":"OPCUAServer","info":"","x":640,"y":60,"wires":[]},{"id":"9067a283.aef14","type":"delay","z":"2945df44.f6e69","name":"Asynchronous Cycle","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"5","randomLast":"5","randomUnits":"seconds","drop":true,"x":1120,"y":100,"wires":[["6072eaad.a4d544"]]},{"id":"6072eaad.a4d544","type":"function","z":"2945df44.f6e69","name":"dt","func":"\n\n\n\nif(msg.topic === \"start\"){\n    \n    context.ti = msg.payload\n    \n}else if(msg.topic === \"dt\"){\n    \n    context.ti = context.ti + msg.payload;\n    \n}\n\n\n var ct = new Date();\n context.dt=(ct.getTime()-context.ti);\n \n \nreturn {topic: 'dt', payload: context.dt}\n\n\n\n \n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1130,"y":160,"wires":[["9067a283.aef14","dd1e2674.559a28"]]},{"id":"7827312d.10acd","type":"ui_button","z":"2945df44.f6e69","name":"Start","group":"ac42666d.205648","order":0,"width":0,"height":0,"passthru":true,"label":"Start/Restart","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"start","x":810,"y":100,"wires":[["9067a283.aef14","8c6e3a31.431f18","dd1e2674.559a28","f0a177c.8623488"]]},{"id":"b12ae6a8.05a8e8","type":"function","z":"2945df44.f6e69","name":"dt (days)","func":"\nvar s = msg.payload * 0.0000000115741;\n\nreturn {topic: 'dt', payload: s}\n\n","outputs":1,"noerr":0,"x":1540,"y":160,"wires":[["8c6e3a31.431f18"]]},{"id":"363e13fd.3eb71c","type":"comment","z":"2945df44.f6e69","name":"OPCUANodes","info":"","x":2060,"y":300,"wires":[]},{"id":"8c6e3a31.431f18","type":"function","z":"2945df44.f6e69","name":"Unstructured","func":"if(msg.topic === 'start'){ //Actions\n  context.ti = 0;\n  context.dt0 = 0;\n}else if (msg.topic === 'Fin') { //Controllers\n  context.Fin = msg.payload;\n}else if (msg.topic === 'Fout') {\n  context.Fout = msg.payload;\n}else if (msg.topic === 'Mnin'){\n  context.Mnin = msg.payload;\n}else if (msg.topic === 'pH'){\n    context.pH = msg.payload;\n}else if (msg.topic === 'Galin'){\n    context.Galin = msg.payload;\n}else if (msg.topic === 'Umax'){//Parameters\n  context.Umax = msg.payload;\n} else if (msg.topic === 'Kuamm'){\n  context.Kuamm = msg.payload;\n} else if (msg.topic === 'Udmax'){\n  context.Udmax = msg.payload;\n} else if (msg.topic === 'Kdamm'){\n  context.Kdamm = msg.payload;\n} else if (msg.topic === 'Ul'){\n    context.Ul = msg.payload;\n} else if (msg.topic === 'Yuamm'){\n  context.Yuamm = msg.payload;\n} else if (msg.topic === 'Mamm'){\n  context.Mamm = msg.payload;\n} else if (msg.topic === 'pHopt'){\n    context.pHopt = msg.payload;\n}else if(msg.topic === 'Wmab'){\n    context.Wmab = msg.payload;\n}else if(msg.topic === 'Qmabmax'){\n    context.Qmabmax = msg.payload;\n}else if(msg.topic === 'Yns1'){\n    context.Yns1 = msg.payload;\n}else if(msg.topic === 'Yns2'){\n    context.Yns2 = msg.payload;\n}else if(msg.topic === 'Yns3'){\n    context.Yns3 = msg.payload;\n}else if(msg.topic === 'Yns4'){\n    context.Yns4 = msg.payload;\n}else if(msg.topic === 'Mns1'){\n    context.Mns1 = msg.payload;\n}else if(msg.topic === 'Mns2'){\n    context.Mns2 = msg.payload;\n}else if(msg.topic === 'Mns3'){\n    context.Mns3 = msg.payload;\n}else if(msg.topic === 'Mns4'){\n    context.Mns4 = msg.payload;\n}else if(msg.topic === 'kns4'){\n    context.kns4 = msg.payload;\n}else if(msg.topic === 'Kns4'){\n    context.Kns4 = msg.payload;\n} else if (msg.topic === 'V0'){ //Initial Conditions\ncontext.V0 = msg.payload;\n} else if (msg.topic === 'Mn0'){\ncontext.Mn0 = msg.payload;\n}else if (msg.topic === 'Xv0'){\ncontext.Xv0 = msg.payload;\n}else if (msg.topic === 'Xd0'){\ncontext.Xd0 = msg.payload;\n}else if (msg.topic === 'Xl0'){\ncontext.Xl0 = msg.payload;\n}else if (msg.topic === 'Amm0'){\ncontext.Amm0 = msg.payload;\n}else if (msg.topic === 'MAb0'){\ncontext.MAb0 = msg.payload;\n}else if (msg.topic === 'Ns10'){\ncontext.Ns10 = msg.payload;\n}else if (msg.topic === 'Ns20'){\ncontext.Ns20 = msg.payload;\n}else if (msg.topic === 'Ns30'){\ncontext.Ns30 = msg.payload;\n}else if (msg.topic === 'Ns40'){\ncontext.Ns40 = msg.payload;\n}else if (msg.topic === 'Gal0'){\ncontext.Gal0 = msg.payload;\n} else if (msg.topic === 'dt'){\ncontext.dt = msg.payload;\n\n//Solve the parameters\ncontext.U = context.Umax*(context.Kuamm/(context.Kuamm*context.Amm0));\ncontext.Ud = context.Udmax/(1+(context.Kdamm/context.Amm0)^2);\ncontext.Qamm = context.U/context.Yuamm + context.Mamm;\nvar temp1 = (-1/2)*((context.pH - context.pHopt)/context.Wmab)^2;\ncontext.Qmab = context.Qmabmax * temp1.toExponential();\n\n\nvar inits = [context.V0,context.Mn0,context.Xv0,context.Xd0,context.Xl0,context.Amm0,context.MAb0,context.Ns10,context.Ns20,context.Ns30,context.Ns40,context.Gal0];\n\nvar systemODE = function(dydt,y,t){\n    dydt[0]=context.Fout-context.Fin; //V\n    dydt[1]=((context.Fin*context.Mnin)-(context.Fout*y[1]))/y[0]; //Mn\n    dydt[2]=context.U*y[2] - context.Ud*y[2] - (context.Fout/y[0])*y[2]; //Xv\n    dydt[3]=context.Ud*y[3] - context.Ul*y[3] - (context.Fout/y[0])*y[3]; //Xd\n    dydt[4]=context.Ul*y[4] - (context.Fout/y[0])*y[4]; //Xl\n    dydt[5]=context.Qamm*y[2]/y[0] - (context.Fout/y[0])*y[5]; //Amm\n    dydt[6]=context.Qmab*y[2] - (context.Fout/y[0])*y[6]; //MAb\n    dydt[7]=(context.U/context.Yns1) + context.Mns1;\n    dydt[8]=(context.U/context.Yns2) + context.Mns2;\n    dydt[9]=(context.U/context.Yns3) + context.Mns3;\n    dydt[10]=(context.U/context.Yns4) + context.Mns4 + context.kns4*((y[11]/context.Kns4)-y[10]);\n    dydt[11]=(context.Fin*context.Galin - context.Fout*y[11])/y[0];\n}; \n\n\nvar ode45 = global.get('ode45ck');\nvar i = ode45(inits, systemODE, context.ti, context.dt0,{\n  tol: 5e-8,\n  maxIncreaseFactor: 2\n});\ni.step(context.dt);\n\nvar V = i.y[0];\nvar Mn = i.y[1];\nvar Xv = i.y[2];\nvar Xd = i.y[3];\nvar Xl = i.y[4];\nvar Amm = i.y[5];\nvar MAb = i.y[6];\nvar Ns1 = i.y[7];\nvar Ns2 = i.y[8];\nvar Ns3 = i.y[9];\nvar Ns4 = i.y[10];\nvar Gal = i.y[11];\n\ncontext.ti = context.ti+context.dt;\ncontext.dt0 = context.dt;\ncontext.V0 = V;\ncontext.Mn0 = Mn;\ncontext.Xv0 = Xv;\ncontext.Xd0 = Xd;\ncontext.Xl0 = Xl;\ncontext.Amm0 = Amm;\ncontext.MAb0 = MAb;\ncontext.Ns10 = Ns1;\ncontext.Ns20 = Ns2;\ncontext.Ns30 = Ns3;\ncontext.Ns40 = Ns4;\ncontext.Gal0 = Gal;\n\nreturn [\n{topic: 'Fin', payload: context.Fin},\n{topic: 'Fout', payload: context.Fout},\n{topic: 'Mnin', payload: context.Mnin},\n{topic: 'Galin', payload : context.Galin},\n{topic: 'pH', payload: context.pH},\n{topic: 'V', payload: V},\n{topic: 'Mn', payload: Mn},\n{topic: 'Amm', payload: Amm},\n{topic: 'Gal', payload : Gal},\n{topic: 'Xv', payload: Xv},\n{topic: 'Xd', payload: Xd},\n{topic: 'Xl', payload: Xl},\n{topic: 'MAb', payload : MAb},\n{topic: 'Ns1', payload : Ns1},\n{topic: 'Ns2', payload : Ns2},\n{topic: 'Ns3', payload : Ns3},\n{topic: 'Ns4', payload : Ns4},\n{topic: 'dt', payload : context.dt}\n]; \n\n}\n\n\n","outputs":18,"noerr":0,"x":1290,"y":840,"wires":[["2dd8a4f7.f8445c","8e9b4ebf.ae275"],["ad4f783c.48f408","5676f34.7d6a30c"],["33825df6.500b72","78a011de.d2d97"],["8dc0a6d4.0fcdf8","5fa199fc.be00b8"],["7abd2725.007598","8fd7bde8.9c8bc"],["15de26a.f40a4d9","e3418e05.58f9f"],["46d404aa.eff13c","10245eb4.4aee51"],["f40f1420.c6e6e8","f0a177c.8623488","108966f3.986bb9"],["d15d6e10.a8999","52e17f2.7e8378"],["2ea81baa.a783b4","af5dfc78.4b4eb"],["ddaa3105.f5ed5","57134334.77425c"],["895a2031.e6efe","b49a341b.499488"],["f872ea8.c620f18","f0a177c.8623488","d1f2f0db.63141"],["5702f0d5.b3e76","fcdc5d4.43698a"],["35a0843c.2db13c","3373310a.ad39ae"],["e6fe2903.faabc8","58045f4a.270a5"],["3fbb748.5ff738c","a254e0fb.5df62"],["f0a177c.8623488"]],"outputLabels":["v","context.Fin","context.Fout","","","","","","","","","","","","","","",""]},{"id":"394f0428.dc541c","type":"comment","z":"2945df44.f6e69","name":"Time Differential","info":"","x":1120,"y":60,"wires":[]},{"id":"b8acd5cc.b9e668","type":"comment","z":"2945df44.f6e69","name":"Initial Conditions","info":"","x":260,"y":300,"wires":[]},{"id":"e7640e3.5472af","type":"ui_numeric","z":"2945df44.f6e69","name":"V0","label":"Volume (mL)","group":"887dbcfd.02731","order":1,"width":0,"height":0,"passthru":true,"topic":"V0","format":"","min":0,"max":"15","step":1,"x":330,"y":360,"wires":[["8c6e3a31.431f18"]]},{"id":"15de26a.f40a4d9","type":"ui_chart","z":"2945df44.f6e69","name":"Volume Chart","group":"317bc529.ccea1a","order":0,"width":0,"height":0,"label":"Volume","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1820,"y":680,"wires":[[],[]]},{"id":"c0db6244.9473","type":"comment","z":"2945df44.f6e69","name":"Controllable Inputs","info":"","x":550,"y":300,"wires":[]},{"id":"205bc09f.7b1ae","type":"ui_numeric","z":"2945df44.f6e69","name":"FluxIn","label":"FluxIn (mL/min.)","group":"cac2bd82.293ff","order":1,"width":0,"height":0,"passthru":true,"topic":"Fin","format":"{{value}}","min":0,"max":"1","step":"0.01","x":570,"y":860,"wires":[["8c6e3a31.431f18"]]},{"id":"f3044fef.9b379","type":"ui_numeric","z":"2945df44.f6e69","name":"FluxOut","label":"FluxOut (mL/min.)","group":"cac2bd82.293ff","order":3,"width":0,"height":0,"passthru":true,"topic":"Fout","format":"{{value}}","min":0,"max":"1","step":"0.01","x":580,"y":900,"wires":[["8c6e3a31.431f18"]]},{"id":"9a383090.67352","type":"comment","z":"2945df44.f6e69","name":"Controller Plots","info":"","x":1600,"y":300,"wires":[]},{"id":"2dd8a4f7.f8445c","type":"ui_chart","z":"2945df44.f6e69","name":"FluxIn Chart","group":"cac2bd82.293ff","order":2,"width":0,"height":0,"label":"Flux In (mL/min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1590,"y":420,"wires":[[],[]]},{"id":"ad4f783c.48f408","type":"ui_chart","z":"2945df44.f6e69","name":"FluxOut Chart","group":"cac2bd82.293ff","order":4,"width":0,"height":0,"label":"Flux Out (mL/min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1600,"y":460,"wires":[[],[]]},{"id":"340d27ee.3c2fe8","type":"ui_numeric","z":"2945df44.f6e69","name":"Mn In","label":"Mn In (units)","group":"cac2bd82.293ff","order":5,"width":0,"height":0,"passthru":true,"topic":"Mnin","format":"{{value}}","min":0,"max":"1","step":"0.01","x":570,"y":940,"wires":[["8c6e3a31.431f18"]]},{"id":"1579523b.b5300e","type":"ui_numeric","z":"2945df44.f6e69","name":"Mn0","label":"Mn (mol/L)","group":"887dbcfd.02731","order":2,"width":0,"height":0,"passthru":true,"topic":"Mn0","format":"","min":0,"max":"1","step":"0.01","x":330,"y":400,"wires":[["8c6e3a31.431f18"]]},{"id":"46d404aa.eff13c","type":"ui_chart","z":"2945df44.f6e69","name":"Mn Chart","group":"87fcf123.978cc","order":4,"width":0,"height":0,"label":"Mn (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":720,"wires":[[],[]]},{"id":"33825df6.500b72","type":"ui_chart","z":"2945df44.f6e69","name":"Mn In Chart","group":"cac2bd82.293ff","order":6,"width":0,"height":0,"label":"Mn In (mL/min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1590,"y":500,"wires":[[],[]]},{"id":"bc93a682.848cf8","type":"comment","z":"2945df44.f6e69","name":"Model Parameters","info":"","x":850,"y":300,"wires":[]},{"id":"40144777.3bc088","type":"ui_numeric","z":"2945df44.f6e69","name":"pH","label":"pH","group":"cac2bd82.293ff","order":9,"width":0,"height":0,"passthru":true,"topic":"pH","format":"{{value}}","min":0,"max":"14","step":"0.01","x":570,"y":980,"wires":[["8c6e3a31.431f18"]]},{"id":"f295e41d.b855d8","type":"ui_numeric","z":"2945df44.f6e69","name":"Umax","label":"Umax (1/d)","group":"f5293552.15d318","order":1,"width":0,"height":0,"passthru":true,"topic":"Umax","format":"{{value}}","min":0,"max":"2","step":"0.01","x":870,"y":1100,"wires":[["8c6e3a31.431f18"]]},{"id":"f2b0b887.19f2a8","type":"ui_numeric","z":"2945df44.f6e69","name":"Udmax","label":"Udmax (1/d)","group":"f5293552.15d318","order":2,"width":0,"height":0,"passthru":true,"topic":"Udmax","format":"{{value}}","min":0,"max":"0.2","step":"0.001","x":880,"y":1140,"wires":[["8c6e3a31.431f18"]]},{"id":"536aff0c.926d5","type":"ui_numeric","z":"2945df44.f6e69","name":"Ul","label":"Ul (1/d)","group":"f5293552.15d318","order":3,"width":0,"height":0,"passthru":true,"topic":"Ul","format":"{{value}}","min":0,"max":"0.4","step":"0.001","x":870,"y":1180,"wires":[["8c6e3a31.431f18"]]},{"id":"1a6b6494.57eebb","type":"ui_numeric","z":"2945df44.f6e69","name":"Kuamm","label":"Kuamm (mmol/L)","group":"f5293552.15d318","order":5,"width":0,"height":0,"passthru":true,"topic":"Kuamm","format":"{{value}}","min":0,"max":"3","step":"0.01","x":880,"y":1220,"wires":[["8c6e3a31.431f18"]]},{"id":"3843429e.5d072e","type":"ui_numeric","z":"2945df44.f6e69","name":"Kdamm","label":"Kdamm (mmol/L)","group":"f5293552.15d318","order":6,"width":0,"height":0,"passthru":true,"topic":"Kdamm","format":"{{value}}","min":0,"max":"10","step":"0.01","x":880,"y":1260,"wires":[["8c6e3a31.431f18"]]},{"id":"b00516ec.ff01c8","type":"ui_numeric","z":"2945df44.f6e69","name":"Yuamm","label":"Yuamm (cell/mmol)","group":"f5293552.15d318","order":4,"width":0,"height":0,"passthru":true,"topic":"Yuamm","format":"{{value}}","min":0,"max":"4","step":"0.01","x":880,"y":1300,"wires":[["8c6e3a31.431f18"]]},{"id":"a420b56e.6ef588","type":"ui_numeric","z":"2945df44.f6e69","name":"Mamm","label":"Mamm (mmo/cell/d)","group":"f5293552.15d318","order":7,"width":0,"height":0,"passthru":true,"topic":"Mamm","format":"{{value}}","min":0,"max":"0.05","step":"0.0001","x":870,"y":1340,"wires":[["8c6e3a31.431f18"]]},{"id":"d8674ac2.78eaa8","type":"ui_numeric","z":"2945df44.f6e69","name":"Qmabmax","label":"Qmabmax (pg/cell/L)","group":"f5293552.15d318","order":8,"width":0,"height":0,"passthru":true,"topic":"Qmabmax","format":"{{value}}","min":0,"max":"20","step":"0.1","x":890,"y":1380,"wires":[["8c6e3a31.431f18"]]},{"id":"1faff9d9.9b0946","type":"ui_numeric","z":"2945df44.f6e69","name":"Yns1","label":"Yns1 (1/mmol)","group":"f5293552.15d318","order":10,"width":0,"height":0,"passthru":true,"topic":"Yns1","format":"{{value}}","min":0,"max":"1","step":"0.0001","x":870,"y":1420,"wires":[["8c6e3a31.431f18"]]},{"id":"b306a125.27c63","type":"ui_numeric","z":"2945df44.f6e69","name":"pHopt","label":"pHopt","group":"f5293552.15d318","order":9,"width":0,"height":0,"passthru":true,"topic":"pHopt","format":"{{value}}","min":0,"max":"14","step":"0.01","x":870,"y":1060,"wires":[["8c6e3a31.431f18"]]},{"id":"27323cec.341f24","type":"ui_numeric","z":"2945df44.f6e69","name":"Xv0","label":"Xv (UNITS)","group":"887dbcfd.02731","order":3,"width":0,"height":0,"passthru":true,"topic":"Xv0","format":"","min":0,"max":"1","step":"0.01","x":330,"y":440,"wires":[["8c6e3a31.431f18"]]},{"id":"c7451036.74987","type":"ui_numeric","z":"2945df44.f6e69","name":"Xd0","label":"Xd (UNITS)","group":"887dbcfd.02731","order":4,"width":0,"height":0,"passthru":true,"topic":"Xd0","format":"","min":0,"max":"1","step":"0.01","x":330,"y":480,"wires":[["8c6e3a31.431f18"]]},{"id":"6d01cda1.ad8894","type":"ui_numeric","z":"2945df44.f6e69","name":"Xl0","label":"Xl (UNITS)","group":"887dbcfd.02731","order":5,"width":0,"height":0,"passthru":true,"topic":"Xl0","format":"","min":0,"max":"1","step":"0.01","x":330,"y":520,"wires":[["8c6e3a31.431f18"]]},{"id":"1a746308.00895d","type":"ui_numeric","z":"2945df44.f6e69","name":"MAb0","label":"MAb (UNITS)","group":"887dbcfd.02731","order":6,"width":0,"height":0,"passthru":true,"topic":"MAb0","format":"","min":0,"max":"1","step":"0.01","x":330,"y":560,"wires":[["8c6e3a31.431f18"]]},{"id":"79ae89de.4d3908","type":"ui_numeric","z":"2945df44.f6e69","name":"Amm0","label":"Amm (UNITS)","group":"887dbcfd.02731","order":7,"width":0,"height":0,"passthru":true,"topic":"Amm0","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":600,"wires":[["8c6e3a31.431f18"]]},{"id":"512a742d.8645fc","type":"ui_numeric","z":"2945df44.f6e69","name":"Mns1","label":"Mns1","group":"f5293552.15d318","order":11,"width":0,"height":0,"passthru":true,"topic":"Mns1","format":"{{value}}","min":0,"max":"1","step":"0.001","x":870,"y":1460,"wires":[["8c6e3a31.431f18"]]},{"id":"17b31ec0.1dbd11","type":"ui_numeric","z":"2945df44.f6e69","name":"Yns2","label":"Yns2","group":"f5293552.15d318","order":12,"width":0,"height":0,"passthru":true,"topic":"Yns2","format":"{{value}}","min":0,"max":"1","step":"0.0001","x":870,"y":1500,"wires":[["8c6e3a31.431f18"]]},{"id":"6ff3a756.8b1428","type":"ui_numeric","z":"2945df44.f6e69","name":"Mns2","label":"Mns2","group":"f5293552.15d318","order":13,"width":0,"height":0,"passthru":true,"topic":"Mns2","format":"{{value}}","min":0,"max":"1","step":"0.00001","x":870,"y":1540,"wires":[["8c6e3a31.431f18"]]},{"id":"2372d5b2.b340ba","type":"ui_numeric","z":"2945df44.f6e69","name":"Yns3","label":"Yns3","group":"f5293552.15d318","order":14,"width":0,"height":0,"passthru":true,"topic":"Yns3","format":"{{value}}","min":"-1","max":"1","step":"0.00001","x":870,"y":1580,"wires":[["8c6e3a31.431f18"]]},{"id":"51257d3c.f47b14","type":"ui_numeric","z":"2945df44.f6e69","name":"Mns3","label":"Mns3","group":"f5293552.15d318","order":15,"width":0,"height":0,"passthru":true,"topic":"Mns3","format":"{{value}}","min":"-1","max":"1","step":"0.0001","x":870,"y":1620,"wires":[["8c6e3a31.431f18"]]},{"id":"1fafd9d5.bee826","type":"ui_numeric","z":"2945df44.f6e69","name":"Yns4","label":"Yns4","group":"f5293552.15d318","order":16,"width":0,"height":0,"passthru":true,"topic":"Yns4","format":"{{value}}","min":0,"max":"1","step":"0.0001","x":870,"y":1660,"wires":[["8c6e3a31.431f18"]]},{"id":"c5c57805.595118","type":"ui_numeric","z":"2945df44.f6e69","name":"Mns4","label":"Mns4","group":"f5293552.15d318","order":17,"width":0,"height":0,"passthru":true,"topic":"Mns4","format":"{{value}}","min":0,"max":"1","step":"0.01","x":870,"y":1700,"wires":[["8c6e3a31.431f18"]]},{"id":"93dcadd6.bc6e9","type":"ui_numeric","z":"2945df44.f6e69","name":"kns4","label":"kns4","group":"f5293552.15d318","order":18,"width":0,"height":0,"passthru":true,"topic":"kns4","format":"{{value}}","min":0,"max":"1","step":"0.001","x":870,"y":1740,"wires":[["8c6e3a31.431f18"]]},{"id":"b271b989.9de828","type":"ui_numeric","z":"2945df44.f6e69","name":"Kns4","label":"Kns4","group":"f5293552.15d318","order":19,"width":0,"height":0,"passthru":true,"topic":"Kns4","format":"{{value}}","min":0,"max":"50","step":"0.1","x":870,"y":1780,"wires":[["8c6e3a31.431f18"]]},{"id":"2261b1c6.fb5a8e","type":"ui_numeric","z":"2945df44.f6e69","name":"Gal0","label":"Gal (UNITS)","group":"887dbcfd.02731","order":12,"width":0,"height":0,"passthru":true,"topic":"Gal0","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":800,"wires":[["8c6e3a31.431f18"]]},{"id":"398c1d9b.ebf1d2","type":"ui_numeric","z":"2945df44.f6e69","name":"Ns10","label":"Ns10 (UNITS)","group":"887dbcfd.02731","order":8,"width":0,"height":0,"passthru":true,"topic":"Ns10","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":640,"wires":[["8c6e3a31.431f18"]]},{"id":"a399ace4.525fd","type":"ui_numeric","z":"2945df44.f6e69","name":"Ns20","label":"Ns20 (UNITS)","group":"887dbcfd.02731","order":9,"width":0,"height":0,"passthru":true,"topic":"Ns20","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":680,"wires":[["8c6e3a31.431f18"]]},{"id":"482995c0.1cb33c","type":"ui_numeric","z":"2945df44.f6e69","name":"Ns30","label":"Ns30 (UNITS)","group":"887dbcfd.02731","order":10,"width":0,"height":0,"passthru":true,"topic":"Ns30","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":720,"wires":[["8c6e3a31.431f18"]]},{"id":"e1f08e82.92b8f","type":"ui_numeric","z":"2945df44.f6e69","name":"Ns40","label":"Ns40 (UNITS)","group":"887dbcfd.02731","order":11,"width":0,"height":0,"passthru":true,"topic":"Ns40","format":"","min":0,"max":"1","step":"0.0001","x":330,"y":760,"wires":[["8c6e3a31.431f18"]]},{"id":"dd1e2674.559a28","type":"function","z":"2945df44.f6e69","name":"actions","func":"if(msg.topic === 'start')\ncontext.status = true;\nif (msg.topic === 'pause'){\n  context.status = false;  \n}else if(msg.topic === 'continue'){\n    context.status = true;\n}else{\nif(context.status){\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":1360,"y":160,"wires":[["b12ae6a8.05a8e8"]]},{"id":"bc848379.c6d54","type":"ui_button","z":"2945df44.f6e69","name":"Pause","group":"ac42666d.205648","order":0,"width":0,"height":0,"passthru":false,"label":"Pause","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"pause","x":810,"y":140,"wires":[["dd1e2674.559a28"]]},{"id":"1886ba8b.e8bc15","type":"ui_button","z":"2945df44.f6e69","name":"Continue","group":"ac42666d.205648","order":0,"width":0,"height":0,"passthru":false,"label":"Continue","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"continue","x":820,"y":180,"wires":[["dd1e2674.559a28"]]},{"id":"cf8b0128.ecc1e","type":"ui_numeric","z":"2945df44.f6e69","name":"Gal In","label":"Gal In (units)","group":"cac2bd82.293ff","order":7,"width":0,"height":0,"passthru":true,"topic":"Galin","format":"{{value}}","min":0,"max":"1","step":"0.01","x":570,"y":1020,"wires":[["8c6e3a31.431f18"]]},{"id":"25e704db.fece3c","type":"ui_button","z":"2945df44.f6e69","name":"Reset","group":"ac42666d.205648","order":0,"width":0,"height":0,"passthru":true,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"Reset","x":150,"y":1380,"wires":[["54f70602.385a38","9cf3c2db.a2f5a","a0be4f51.5ad25","1c5163dd.edae6c","a1996ab.06b0c98","3f5cd362.6d98ec","d86f95fb.e133b8","ab24e18b.ecc3f","d3bc22cb.0efa1","f71cd98a.b809c8","3b9c33c7.36299c","6598f3ce.bf136c","9c0deaed.bec968","806cc36a.46423","29840f78.a05e7","dc837a65.4ab5a8","19243eab.2e9881","8d90008.c85fb","5fc9d0f1.3041","6d4f3445.21440c","78283f71.14c02","5ad06369.07661c","54cb571d.597708","216a9e68.892352","7661eeb5.1c8c4","e273e112.60854","7a8fe7d6.af4b78","8f3ec1eb.05e67","2c1ea40f.66a69c","365acb38.34f9a4","6b9ef9ea.979208","818c559c.28e6b8","444ea199.73268","cb482bd5.792938","5d7fb510.0b0ddc","902afe03.78e4e","6dcfc2c6.8abecc","ab15c513.c3b828","a7b503b5.dea49","a067c910.171598","97034979.56d088","69e0b572.ba538c","217e8af7.6021f6","e82183ee.3b64b","6ef68462.38308c","ce99daca.d0fc68","77612236.0406cc","ebcc9c2c.3c59a","9aeffeab.dbb67"]]},{"id":"54f70602.385a38","type":"change","z":"2945df44.f6e69","name":"V0","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":360,"wires":[["e7640e3.5472af"]]},{"id":"9cf3c2db.a2f5a","type":"change","z":"2945df44.f6e69","name":"Mn0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":400,"wires":[["1579523b.b5300e"]]},{"id":"a0be4f51.5ad25","type":"change","z":"2945df44.f6e69","name":"Xv0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["27323cec.341f24"]]},{"id":"1c5163dd.edae6c","type":"change","z":"2945df44.f6e69","name":"Xd0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":480,"wires":[["c7451036.74987"]]},{"id":"a1996ab.06b0c98","type":"change","z":"2945df44.f6e69","name":"Xl0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":520,"wires":[["6d01cda1.ad8894"]]},{"id":"3f5cd362.6d98ec","type":"change","z":"2945df44.f6e69","name":"MAb0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":560,"wires":[["1a746308.00895d"]]},{"id":"d3bc22cb.0efa1","type":"change","z":"2945df44.f6e69","name":"Ns20","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":680,"wires":[["a399ace4.525fd"]]},{"id":"ab24e18b.ecc3f","type":"change","z":"2945df44.f6e69","name":"Ns10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":640,"wires":[["398c1d9b.ebf1d2"]]},{"id":"d86f95fb.e133b8","type":"change","z":"2945df44.f6e69","name":"Amm0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0001","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":600,"wires":[["79ae89de.4d3908"]]},{"id":"f71cd98a.b809c8","type":"change","z":"2945df44.f6e69","name":"Ns30","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":720,"wires":[["482995c0.1cb33c"]]},{"id":"3b9c33c7.36299c","type":"change","z":"2945df44.f6e69","name":"Ns40","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":760,"wires":[["e1f08e82.92b8f"]]},{"id":"6598f3ce.bf136c","type":"change","z":"2945df44.f6e69","name":"Gal0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":800,"wires":[["2261b1c6.fb5a8e"]]},{"id":"9c0deaed.bec968","type":"change","z":"2945df44.f6e69","name":"FluxIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":860,"wires":[["205bc09f.7b1ae"]]},{"id":"806cc36a.46423","type":"change","z":"2945df44.f6e69","name":"FluxOut","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":900,"wires":[["f3044fef.9b379"]]},{"id":"29840f78.a05e7","type":"change","z":"2945df44.f6e69","name":"MnIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":940,"wires":[["340d27ee.3c2fe8"]]},{"id":"dc837a65.4ab5a8","type":"change","z":"2945df44.f6e69","name":"pH","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":980,"wires":[["40144777.3bc088"]]},{"id":"19243eab.2e9881","type":"change","z":"2945df44.f6e69","name":"GalIn","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1020,"wires":[["cf8b0128.ecc1e"]]},{"id":"20ae33cb.0f00cc","type":"comment","z":"2945df44.f6e69","name":"Systems","info":"","x":1280,"y":300,"wires":[]},{"id":"8d90008.c85fb","type":"change","z":"2945df44.f6e69","name":"pHopt","rules":[{"t":"set","p":"payload","pt":"msg","to":"7.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1060,"wires":[["b306a125.27c63"]]},{"id":"5fc9d0f1.3041","type":"change","z":"2945df44.f6e69","name":"Umax","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.21","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1100,"wires":[["f295e41d.b855d8"]]},{"id":"6d4f3445.21440c","type":"change","z":"2945df44.f6e69","name":"Udmax","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.122","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1140,"wires":[["f2b0b887.19f2a8"]]},{"id":"78283f71.14c02","type":"change","z":"2945df44.f6e69","name":"Ul","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.292","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1180,"wires":[["536aff0c.926d5"]]},{"id":"5ad06369.07661c","type":"change","z":"2945df44.f6e69","name":"Kuamm","rules":[{"t":"set","p":"payload","pt":"msg","to":"2.37","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1220,"wires":[["1a6b6494.57eebb"]]},{"id":"54cb571d.597708","type":"change","z":"2945df44.f6e69","name":"Kdamm","rules":[{"t":"set","p":"payload","pt":"msg","to":"8.24","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1260,"wires":[["3843429e.5d072e"]]},{"id":"216a9e68.892352","type":"change","z":"2945df44.f6e69","name":"Yuamm","rules":[{"t":"set","p":"payload","pt":"msg","to":"3.54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1300,"wires":[["b00516ec.ff01c8"]]},{"id":"7661eeb5.1c8c4","type":"change","z":"2945df44.f6e69","name":"Mamm","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0442","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1340,"wires":[["a420b56e.6ef588"]]},{"id":"e273e112.60854","type":"change","z":"2945df44.f6e69","name":"Qmabmax","rules":[{"t":"set","p":"payload","pt":"msg","to":"15.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1380,"wires":[["d8674ac2.78eaa8"]]},{"id":"7a8fe7d6.af4b78","type":"change","z":"2945df44.f6e69","name":"Yns1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0913","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1420,"wires":[["1faff9d9.9b0946"]]},{"id":"8f3ec1eb.05e67","type":"change","z":"2945df44.f6e69","name":"Mns1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.222","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1460,"wires":[["512a742d.8645fc"]]},{"id":"2c1ea40f.66a69c","type":"change","z":"2945df44.f6e69","name":"Yns2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0102","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1500,"wires":[["17b31ec0.1dbd11"]]},{"id":"365acb38.34f9a4","type":"change","z":"2945df44.f6e69","name":"Mns2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.00952","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1540,"wires":[["6ff3a756.8b1428"]]},{"id":"6b9ef9ea.979208","type":"change","z":"2945df44.f6e69","name":"Yns3","rules":[{"t":"set","p":"payload","pt":"msg","to":"-0.00848","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1580,"wires":[["2372d5b2.b340ba"]]},{"id":"818c559c.28e6b8","type":"change","z":"2945df44.f6e69","name":"Mns3","rules":[{"t":"set","p":"payload","pt":"msg","to":"-0.0239","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1620,"wires":[["51257d3c.f47b14"]]},{"id":"444ea199.73268","type":"change","z":"2945df44.f6e69","name":"Yns4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0102","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1660,"wires":[["1fafd9d5.bee826"]]},{"id":"cb482bd5.792938","type":"change","z":"2945df44.f6e69","name":"Mns4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1700,"wires":[["c5c57805.595118"]]},{"id":"5d7fb510.0b0ddc","type":"change","z":"2945df44.f6e69","name":"kns4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.514","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1740,"wires":[["93dcadd6.bc6e9"]]},{"id":"902afe03.78e4e","type":"change","z":"2945df44.f6e69","name":"Kns4","rules":[{"t":"set","p":"payload","pt":"msg","to":"33.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1780,"wires":[["b271b989.9de828"]]},{"id":"8214339f.f5918","type":"inject","z":"2945df44.f6e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":140,"wires":[["25e704db.fece3c"]]},{"id":"8dc0a6d4.0fcdf8","type":"ui_chart","z":"2945df44.f6e69","name":"Gal In Chart","group":"cac2bd82.293ff","order":8,"width":0,"height":0,"label":"Gal In (mL/min)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1590,"y":540,"wires":[[],[]]},{"id":"7abd2725.007598","type":"ui_chart","z":"2945df44.f6e69","name":"pH Chart","group":"cac2bd82.293ff","order":10,"width":0,"height":0,"label":"pH","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1580,"y":580,"wires":[[],[]]},{"id":"2a726b41.421284","type":"comment","z":"2945df44.f6e69","name":"Variable Plots","info":"","x":1810,"y":300,"wires":[]},{"id":"f40f1420.c6e6e8","type":"ui_chart","z":"2945df44.f6e69","name":"Amm Chart","group":"87fcf123.978cc","order":4,"width":0,"height":0,"label":"Amm (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1810,"y":760,"wires":[[],[]]},{"id":"d15d6e10.a8999","type":"ui_chart","z":"2945df44.f6e69","name":"Gal Chart","group":"87fcf123.978cc","order":4,"width":0,"height":0,"label":"Gal (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":800,"wires":[[],[]]},{"id":"2ea81baa.a783b4","type":"ui_chart","z":"2945df44.f6e69","name":"Xv Chart","group":"2bc03d72.8e1d22","order":4,"width":0,"height":0,"label":"Xv (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":840,"wires":[[],[]]},{"id":"ddaa3105.f5ed5","type":"ui_chart","z":"2945df44.f6e69","name":"Xd Chart","group":"2bc03d72.8e1d22","order":4,"width":0,"height":0,"label":"Xd (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":880,"wires":[[],[]]},{"id":"895a2031.e6efe","type":"ui_chart","z":"2945df44.f6e69","name":"Xl Chart","group":"2bc03d72.8e1d22","order":4,"width":0,"height":0,"label":"Xl (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":920,"wires":[[],[]]},{"id":"5702f0d5.b3e76","type":"ui_chart","z":"2945df44.f6e69","name":"Ns1 Chart","group":"11c18c09.a72634","order":4,"width":0,"height":0,"label":"Ns1 (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":1000,"wires":[[],[]]},{"id":"35a0843c.2db13c","type":"ui_chart","z":"2945df44.f6e69","name":"Ns2 Chart","group":"11c18c09.a72634","order":4,"width":0,"height":0,"label":"Ns2 (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":1040,"wires":[[],[]]},{"id":"e6fe2903.faabc8","type":"ui_chart","z":"2945df44.f6e69","name":"Ns3 Chart","group":"11c18c09.a72634","order":4,"width":0,"height":0,"label":"Ns3 (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":1080,"wires":[[],[]]},{"id":"3fbb748.5ff738c","type":"ui_chart","z":"2945df44.f6e69","name":"Ns4 Chart","group":"11c18c09.a72634","order":4,"width":0,"height":0,"label":"Ns4 (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1800,"y":1120,"wires":[[],[]]},{"id":"f872ea8.c620f18","type":"ui_chart","z":"2945df44.f6e69","name":"MAb Chart","group":"9a952781.d90498","order":4,"width":0,"height":0,"label":"MAb (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1810,"y":960,"wires":[[],[]]},{"id":"f0a177c.8623488","type":"function","z":"2945df44.f6e69","name":"Parameters","func":"if (msg.topic === 'start'){\n    context.iter = 0;\n}else if (msg.topic === 'MAb'){\n    context.MAb = msg.payload;\n}else if (msg.topic === 'Amm'){\n    context.Amm = msg.payload;\n}else if (msg.topic === 'Agolgi'){//Parameters\n    context.Agolgi = msg.paylaod;\n}else if (msg.topic === 'Vgolgi'){\n    context.Vgolgi = msg.payload;\n}else if (msg.topic === 'Dgolgi'){\n    context.Dgolgi = msg.payload;\n}else if (msg.topic === 'Qgolgi'){\n    context.Qgolgi = msg.payload;\n}else if (msg.topic === 'pKagolgi'){\n    context.pKagolgi = msg.payload;\n}else if(msg.topic === 'Nagolgi'){\n    context.Nagolgi = msg.payload;\n}else if(msg.topic === 'pHoptgolgi'){\n    context.pHoptgolgi = msg.payload;\n}else if(msg.topic === 'kf1max'){\n    context.kf1max = msg.payload;\n}else if(msg.topic === 'wf1'){\n    context.wf1 = msg.payload;\n}else if(msg.topic === 'E1max'){\n    context.E1max = msg.payload;\n}else if(msg.topic === 'z1max'){\n    context.z1max = msg.payload;\n}else if(msg.topic === 'w1'){\n    context.w1 = msg.payload;\n}else if(msg.topic === 'Kd1'){\n    context.Kd1 = msg.payload;\n}else if(msg.topic === 'istate'){\n    context.istate = msg.payload;\n}else if(msg.topic === 'dt'){\n\ncontext.iter = context.iter + 1;\niter = context.iter;\ndt = msg.payload;\nmab0 = 2*context.mAb;\n\n//Loaded parameters\nE1max = context.E1max;\nz1max = context.z1max;\nw1 = context.w1;\nKd1 = context.Kd1;\n\n//Calculated parameters\n\npHgolgi = context.pKagolgi + Math.log10(context.Amm/(context.Nagolgi-context.Amm));\nw = (4*context.Qgolgi)/(Math.PI*(context.Dgolgi)^2);\nkf1 = context.kf1max*Math.exp(-0.5*((pHgolgi-context.pHoptgolgi))/context.wf1);\n\nreturn {topic:'param',payload:{iter,dt,w,mab0,E1max,z1max,w1,Kd1,kf1}};\n\n}\n\n\n","outputs":1,"noerr":0,"x":1150,"y":2160,"wires":[["7f5abbe9.aad5e4","b4a53066.d9d88"]],"outputLabels":["v"]},{"id":"1f1356a8.6e8f09","type":"ui_numeric","z":"2945df44.f6e69","name":"Nagolgi","label":"Nagolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Nagolgi","format":"{{value}}","min":0,"max":"20","step":"0.1","x":880,"y":2100,"wires":[["f0a177c.8623488"]]},{"id":"6dcfc2c6.8abecc","type":"change","z":"2945df44.f6e69","name":"Nagolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"14.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2100,"wires":[["1f1356a8.6e8f09"]]},{"id":"a064b0a9.efd61","type":"ui_numeric","z":"2945df44.f6e69","name":"pKagolgi","label":"pKagolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"pKagolgi","format":"{{value}}","min":0,"max":"14","step":"0.1","x":880,"y":2060,"wires":[["f0a177c.8623488"]]},{"id":"ab15c513.c3b828","type":"change","z":"2945df44.f6e69","name":"pKagolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"7.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2060,"wires":[["a064b0a9.efd61"]]},{"id":"a7b503b5.dea49","type":"change","z":"2945df44.f6e69","name":"pHoptgolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"6.6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2140,"wires":[["cfb1c213.fe348"]]},{"id":"cfb1c213.fe348","type":"ui_numeric","z":"2945df44.f6e69","name":"pHoptgolgi","label":"pHoptgolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"pHoptgolgi","format":"{{value}}","min":0,"max":"14","step":"0.1","x":890,"y":2140,"wires":[["f0a177c.8623488"]]},{"id":"a067c910.171598","type":"change","z":"2945df44.f6e69","name":"kf1max","rules":[{"t":"set","p":"payload","pt":"msg","to":"888","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2200,"wires":[["ee083a48.118f88"]]},{"id":"ee083a48.118f88","type":"ui_numeric","z":"2945df44.f6e69","name":"kf1max","label":"kf1max","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"kf1max","format":"{{value}}","min":0,"max":"2000","step":"1","x":880,"y":2200,"wires":[["f0a177c.8623488"]]},{"id":"97034979.56d088","type":"change","z":"2945df44.f6e69","name":"wf1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.72","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2240,"wires":[["9adfac6a.67153"]]},{"id":"9adfac6a.67153","type":"ui_numeric","z":"2945df44.f6e69","name":"wf1","label":"wf1","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"wf1","format":"{{value}}","min":0,"max":"2","step":"0.01","x":870,"y":2240,"wires":[["f0a177c.8623488"]]},{"id":"69e0b572.ba538c","type":"change","z":"2945df44.f6e69","name":"Agolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1880,"wires":[["4c34da8.d8c2c24"]]},{"id":"4c34da8.d8c2c24","type":"ui_numeric","z":"2945df44.f6e69","name":"Agolgi","label":"Agolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Agolgi","format":"{{value}}","min":0,"max":"200","step":"1","x":870,"y":1880,"wires":[["f0a177c.8623488"]]},{"id":"217e8af7.6021f6","type":"change","z":"2945df44.f6e69","name":"Vgolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1920,"wires":[["3d731c3.bf02be4"]]},{"id":"3d731c3.bf02be4","type":"ui_numeric","z":"2945df44.f6e69","name":"Vgolgi","label":"Vgolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Vgolgi","format":"{{value}}","min":0,"max":"50","step":"1","x":870,"y":1920,"wires":[["f0a177c.8623488"]]},{"id":"e82183ee.3b64b","type":"change","z":"2945df44.f6e69","name":"Dgolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"7.82","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1960,"wires":[["2469b57b.862d1a"]]},{"id":"2469b57b.862d1a","type":"ui_numeric","z":"2945df44.f6e69","name":"Dgolgi","label":"Dgolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Dgolgi","format":"{{value}}","min":0,"max":"10","step":"0.01","x":870,"y":1960,"wires":[["f0a177c.8623488"]]},{"id":"6ef68462.38308c","type":"change","z":"2945df44.f6e69","name":"Qgolgi","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2000,"wires":[["dad2f31f.2dbcc"]]},{"id":"dad2f31f.2dbcc","type":"ui_numeric","z":"2945df44.f6e69","name":"Qgolgi","label":"Qgolgi","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Qgolgi","format":"{{value}}","min":0,"max":"2","step":"0.01","x":870,"y":2000,"wires":[["f0a177c.8623488"]]},{"id":"ce99daca.d0fc68","type":"change","z":"2945df44.f6e69","name":"E1max","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.232","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2280,"wires":[["4edd6216.dc81ac"]]},{"id":"4edd6216.dc81ac","type":"ui_numeric","z":"2945df44.f6e69","name":"E1max","label":"E1max","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"E1max","format":"{{value}}","min":0,"max":"1","step":"0.001","x":870,"y":2280,"wires":[["f0a177c.8623488"]]},{"id":"77612236.0406cc","type":"change","z":"2945df44.f6e69","name":"z1max","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2320,"wires":[["668bc1f0.377ef"]]},{"id":"668bc1f0.377ef","type":"ui_numeric","z":"2945df44.f6e69","name":"z1max","label":"z1max","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"z1max","format":"{{value}}","min":0,"max":"1","step":"0.001","x":870,"y":2320,"wires":[["f0a177c.8623488"]]},{"id":"ebcc9c2c.3c59a","type":"change","z":"2945df44.f6e69","name":"w1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0785","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2360,"wires":[["930ea85e.d4f158"]]},{"id":"930ea85e.d4f158","type":"ui_numeric","z":"2945df44.f6e69","name":"w1","label":"w1","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"w1","format":"{{value}}","min":0,"max":"1","step":"0.0001","x":870,"y":2360,"wires":[["f0a177c.8623488"]]},{"id":"7f5abbe9.aad5e4","type":"json","z":"2945df44.f6e69","name":"json","property":"payload","action":"str","pretty":true,"x":1270,"y":2160,"wires":[["930117f1.b9fc18"]]},{"id":"930117f1.b9fc18","type":"pythonshell in","z":"2945df44.f6e69","name":"structured","pyfile":"/root/.node-red/mabsim/structured.py","virtualenv":"","continuous":false,"stdInData":false,"x":1400,"y":2160,"wires":[["7a9a9bb2.c3f844"]]},{"id":"9aeffeab.dbb67","type":"change","z":"2945df44.f6e69","name":"Kd1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0.0785","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2400,"wires":[["5067e4da.8ef8bc"]]},{"id":"5067e4da.8ef8bc","type":"ui_numeric","z":"2945df44.f6e69","name":"Kd1","label":"Kd1","group":"b46a4398.2b77f","order":19,"width":0,"height":0,"passthru":true,"topic":"Kd1","format":"{{value}}","min":0,"max":"1","step":"0.0001","x":870,"y":2400,"wires":[["f0a177c.8623488"]]},{"id":"5483e31a.16bccc","type":"function","z":"2945df44.f6e69","name":"Splitter","func":"output = msg.payload;\nvar o1 = {topic:'Man9',payload: output[0]}\nvar o2 = {topic:'Man8',payload: output[1]}\nvar o3 = {topic:'Man7',payload: output[2]}\nreturn [o1,o2,o3];","outputs":3,"noerr":0,"x":1610,"y":2160,"wires":[["46e8b4c7.c0561c","6d108d07.fb5524"],[],[]]},{"id":"46e8b4c7.c0561c","type":"ui_chart","z":"2945df44.f6e69","name":"Man9 Chart","group":"30c396c7.96791a","order":2,"width":0,"height":0,"label":"Man9 (units)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1910,"y":2060,"wires":[[],[]]},{"id":"620e3020.bbee7","type":"OPCUA-IIoT-Server","z":"90a32ac1.2f3ff8","port":"55888","endpoint":"UA/Mabsim","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"Mabsim OPC UA Server","showStatusActivities":true,"showErrors":true,"asoDemo":false,"allowAnonymous":true,"isAuditing":true,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"x":1030,"y":780,"wires":[[]]},{"id":"8d632e88.e4bd7","type":"function","z":"90a32ac1.2f3ff8","name":"bypass","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":780,"wires":[["620e3020.bbee7"]]},{"id":"59efc7f4.6bb5e8","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=FluxIn","browsename":"FluxIn","displayname":"FluxIn","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Controller","referencetype":"Organizes","name":"FluxIn","x":550,"y":440,"wires":[["8d632e88.e4bd7"]]},{"id":"8ad3d13c.db092","type":"OPCUA-IIoT-Inject","z":"90a32ac1.2f3ff8","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"5","name":"Create Nodes","addressSpaceItems":[],"x":320,"y":780,"wires":[["59efc7f4.6bb5e8","9d441ef0.46681","55523da5.1703d4","3cf3b896.cac8b8","859a64c8.893d88","c48dfc43.db06","a3d8cacc.f12728","ca0481d3.7bae2","4292e7be.9af3c8","3f7fd56c.230d5a","4831d46b.db2c3c","25955fb9.3b7c3","b14ef298.7af95","9cb95d64.4b481","e8262a9.25867d8","d615fcf9.41316","ff30202e.9f8b3","942383.a3f83c8"]]},{"id":"9d441ef0.46681","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=FluxOut","browsename":"FluxOut","displayname":"FluxOut","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Controller","referencetype":"Organizes","name":"FluxOut","x":560,"y":480,"wires":[["8d632e88.e4bd7"]]},{"id":"55523da5.1703d4","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=MnIn","browsename":"MnIn","displayname":"MnIn","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Controller","referencetype":"Organizes","name":"MnIn","x":550,"y":520,"wires":[["8d632e88.e4bd7"]]},{"id":"3cf3b896.cac8b8","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=GalIn","browsename":"GalIn","displayname":"GalIn","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Controller","referencetype":"Organizes","name":"GalIn","x":550,"y":560,"wires":[["8d632e88.e4bd7"]]},{"id":"859a64c8.893d88","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=pH","browsename":"pH","displayname":"pH","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Controller","referencetype":"Organizes","name":"pH","x":550,"y":600,"wires":[["8d632e88.e4bd7"]]},{"id":"4cca3200.be955c","type":"OPCUA-IIoT-Inject","z":"90a32ac1.2f3ff8","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"3","name":"Create Structure","addressSpaceItems":[],"x":330,"y":200,"wires":[["5a91c030.29e65","3257b2f5.34144e","8fe99fed.4b00a"]]},{"id":"5a91c030.29e65","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Controller","browsename":"Controller","displayname":"Controller","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"Controller","x":560,"y":160,"wires":[["8d632e88.e4bd7"]]},{"id":"3257b2f5.34144e","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=System","browsename":"System","displayname":"System","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"System","x":560,"y":200,"wires":[["8d632e88.e4bd7"]]},{"id":"8fe99fed.4b00a","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Glycosylation","browsename":"Glycosylation","displayname":"Glycosylation","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"Glycosylation","x":570,"y":240,"wires":[["8d632e88.e4bd7"]]},{"id":"c48dfc43.db06","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Volume","browsename":"Volume","displayname":"Volume","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Volume","x":560,"y":680,"wires":[["8d632e88.e4bd7"]]},{"id":"a3d8cacc.f12728","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Mn","browsename":"Mn","displayname":"Mn","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Mn","x":550,"y":720,"wires":[["8d632e88.e4bd7"]]},{"id":"ca0481d3.7bae2","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Amm","browsename":"Amm","displayname":"Amm","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Amm","x":550,"y":760,"wires":[["8d632e88.e4bd7"]]},{"id":"4292e7be.9af3c8","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Gal","browsename":"Gal","displayname":"Gal","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Gal","x":550,"y":800,"wires":[["8d632e88.e4bd7"]]},{"id":"3f7fd56c.230d5a","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Xv","browsename":"Xv","displayname":"Xv","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Xv","x":550,"y":840,"wires":[["8d632e88.e4bd7"]]},{"id":"4831d46b.db2c3c","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Xd","browsename":"Xd","displayname":"Xd","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Xd","x":550,"y":880,"wires":[["8d632e88.e4bd7"]]},{"id":"25955fb9.3b7c3","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Xl","browsename":"Xl","displayname":"Xl","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Xl","x":550,"y":920,"wires":[["8d632e88.e4bd7"]]},{"id":"b14ef298.7af95","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=MAb","browsename":"MAb","displayname":"MAb","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"MAb","x":550,"y":960,"wires":[["8d632e88.e4bd7"]]},{"id":"9cb95d64.4b481","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Ns1","browsename":"Ns1","displayname":"Ns1","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Ns1","x":550,"y":1000,"wires":[["8d632e88.e4bd7"]]},{"id":"e8262a9.25867d8","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Ns2","browsename":"pH","displayname":"pH","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Ns2","x":550,"y":1040,"wires":[["8d632e88.e4bd7"]]},{"id":"d615fcf9.41316","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Ns3","browsename":"Ns3","displayname":"Ns3","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Ns3","x":550,"y":1080,"wires":[["8d632e88.e4bd7"]]},{"id":"ff30202e.9f8b3","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Ns4","browsename":"Ns4","displayname":"Ns4","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=System","referencetype":"Organizes","name":"Ns4","x":550,"y":1120,"wires":[["8d632e88.e4bd7"]]},{"id":"942383.a3f83c8","type":"OPCUA-IIoT-Server-ASO","z":"90a32ac1.2f3ff8","nodeId":"ns=5;s=Man9","browsename":"Man9","displayname":"Man9","objecttype":"BaseDataVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=Glycosylation","referencetype":"Organizes","name":"Man9","x":550,"y":1200,"wires":[["8d632e88.e4bd7"]]},{"id":"8e9b4ebf.ae275","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=FluxIn","datatype":"Float","value":"","name":"FluxIn","topic":"","showErrors":true,"x":2070,"y":420,"wires":[["dbde32b1.fc7f9"]]},{"id":"dbde32b1.fc7f9","type":"OPCUA-IIoT-Write","z":"2945df44.f6e69","connector":"eab6395e.5d5718","name":"Write2Server","justValue":false,"showStatusActivities":true,"showErrors":true,"x":2390,"y":1620,"wires":[["207380e1.b030e"]]},{"id":"207380e1.b030e","type":"OPCUA-IIoT-Response","z":"2945df44.f6e69","name":"","showStatusActivities":true,"showErrors":true,"x":2560,"y":1620,"wires":[[]]},{"id":"1c1f5989.a21176","type":"inject","z":"2945df44.f6e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":100,"wires":[["7827312d.10acd"]]},{"id":"5676f34.7d6a30c","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=FluxOut","datatype":"Float","value":"","name":"FluxOut","topic":"","showErrors":true,"x":2080,"y":460,"wires":[["dbde32b1.fc7f9"]]},{"id":"78a011de.d2d97","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=MnIn","datatype":"Float","value":"","name":"MnIn","topic":"","showErrors":true,"x":2070,"y":500,"wires":[["dbde32b1.fc7f9"]]},{"id":"5fa199fc.be00b8","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=GalIn","datatype":"Float","value":"","name":"GalIn","topic":"","showErrors":true,"x":2070,"y":540,"wires":[["dbde32b1.fc7f9"]]},{"id":"8fd7bde8.9c8bc","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=pH","datatype":"Float","value":"","name":"pH","topic":"","showErrors":true,"x":2070,"y":580,"wires":[["dbde32b1.fc7f9"]]},{"id":"e3418e05.58f9f","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Volume","datatype":"Float","value":"","name":"Volume","topic":"","showErrors":true,"x":2080,"y":680,"wires":[["dbde32b1.fc7f9"]]},{"id":"10245eb4.4aee51","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Mn","datatype":"Float","value":"","name":"Mn","topic":"","showErrors":true,"x":2070,"y":720,"wires":[["dbde32b1.fc7f9"]]},{"id":"108966f3.986bb9","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Amm","datatype":"Float","value":"","name":"Amm","topic":"","showErrors":true,"x":2070,"y":760,"wires":[["dbde32b1.fc7f9"]]},{"id":"52e17f2.7e8378","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Gal","datatype":"Float","value":"","name":"Gal","topic":"","showErrors":true,"x":2070,"y":800,"wires":[["dbde32b1.fc7f9"]]},{"id":"af5dfc78.4b4eb","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Xv","datatype":"Float","value":"","name":"Xv","topic":"","showErrors":true,"x":2070,"y":840,"wires":[["dbde32b1.fc7f9"]]},{"id":"57134334.77425c","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Xd","datatype":"Float","value":"","name":"Xd","topic":"","showErrors":true,"x":2070,"y":880,"wires":[["dbde32b1.fc7f9"]]},{"id":"b49a341b.499488","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Xl","datatype":"Float","value":"","name":"Xl","topic":"","showErrors":true,"x":2070,"y":920,"wires":[["dbde32b1.fc7f9"]]},{"id":"d1f2f0db.63141","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=MAb","datatype":"Float","value":"","name":"MAb","topic":"","showErrors":true,"x":2070,"y":960,"wires":[["dbde32b1.fc7f9"]]},{"id":"fcdc5d4.43698a","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Ns1","datatype":"Float","value":"","name":"Ns1","topic":"","showErrors":true,"x":2070,"y":1000,"wires":[["dbde32b1.fc7f9"]]},{"id":"3373310a.ad39ae","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Ns2","datatype":"Float","value":"","name":"Ns2","topic":"","showErrors":true,"x":2070,"y":1040,"wires":[["dbde32b1.fc7f9"]]},{"id":"58045f4a.270a5","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Ns3","datatype":"Float","value":"","name":"Ns3","topic":"","showErrors":true,"x":2070,"y":1080,"wires":[["dbde32b1.fc7f9"]]},{"id":"a254e0fb.5df62","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Ns4","datatype":"Float","value":"","name":"Volume","topic":"","showErrors":true,"x":2080,"y":1120,"wires":[["dbde32b1.fc7f9"]]},{"id":"6d108d07.fb5524","type":"OPCUA-IIoT-Node","z":"2945df44.f6e69","injectType":"write","nodeId":"ns=5;s=Man9","datatype":"Float","value":"","name":"Man9","topic":"","showErrors":true,"x":2250,"y":2060,"wires":[["dbde32b1.fc7f9"]]},{"id":"7a9a9bb2.c3f844","type":"json","z":"2945df44.f6e69","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":2160,"wires":[["5483e31a.16bccc"]]},{"id":"b4a53066.d9d88","type":"debug","z":"2945df44.f6e69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1290,"y":2340,"wires":[]}]